<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" href="../static/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-02670e9412103b5852dcbe140d278c49.css?vsn=d">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../script/slider.js"></script>

</head>

<body>
    <div class="header">
        <div class="nav_bar">
            <a href="#"><img id="logo" src="../assets/image/footer-logo.png" alt="Logo"></a>
            <ul>
                <li><a href="../templates/menu.html">Menu</a></li>
                <li><a href="../templates/recipe.html">Recipes</a></li>
                <li><a href="../templates/location.html">Location</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li><a href="../templates/blog.html">Blog</a></li>
            </ul>
            <div class="sub_nav_bar">
                <ul>
                    <li id="icon"><a href=""><i class="fa-regular fa-cart-shopping" style="font-size:18px;"></i></a>
                    </li>
                    <li id="icon" class="search-bar-container">
                        <input id="searchbar" type="text" placeholder="Search">
                        <a href="#" class="search-icon"><i id="search-icon" class="fa-regular fa-magnifying-glass"
                                style="margin-bottom:10px;"></i></a>
                    </li>
                    <li id="icon"><a href=""><i class="fa-regular fa-heart" style="font-size:18px;"></i></a></li>
                    <li id="icon"><a href=""><i class="fa-regular fa-user" style="font-size:18px;"></i></a></li>
                </ul>
            </div>
        </div>
        <button id type="submit">NEW MENU</button>
        <img id="header_img" src="../assets/image/homepage_header_image.jpg" alt="header_img">
    </div>
    <div class="container-01">
        <div class="container-01-leftsection">
            <h2>Discover</h2>
            <p id="subtitle">OUR STORY</p>
            <p>Starting with healthy food is paramount for a multitude of reasons. The nutritional value of healthy
                foods, rich in essential vitamins, minerals, and antioxidants, is the cornerstone of overall well-being.
                These foods provide sustained energy, promote weight management, and reduce the risk of chronic
                diseases, such as heart disease and diabetes. </p>
            <button type="submit">BUY NOW</button>
        </div>
        <img src="../assets/image/homepage-image-01.jpg" alt="">
    </div>

    <div class="container-02">
        <h2>Best for you</h2>
        <p id="subtitle">BEST CATEGORIES</p>
        <div class="container-02-content">
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-01.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-02.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-03.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-04.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-05.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-06.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-07.jpg" alt="">
            </div>
            <div class="container-02-card">
                <img src="../assets/image/container-01-image-08.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container-03">
        <div class="container-03-section">
            <img src="../assets/image/natural-farm.png" alt="natural-farm">
            <h3>Natural Farm</h3>
            <p>Playing a crucial role in ensuring the quality, sustainability, and freshness of the ingredients used in
                the prepared meals</p>
            <button type="submit">LIVE TRUE</button>
        </div>
        <div class="container-03-section">
            <img src="../assets/image/healthyfood.png" alt="natural-farm">
            <h3>Healthy Food</h3>
            <p>The cornerstone of a healthy food delivery service, playing a vital role in promoting well-being,
                convenience, and satisfaction among customers.</p>
            <button type="submit">SIGN UP</button>
        </div>
        <div class="container-03-section">
            <img src="../assets/image/biological.png" alt="natural-farm">
            <h3>Biologically Safe</h3>
            <p>Ensuring that the food is not only nutritious but also safe for consumption, thereby promoting the
                overall health and well-being of customers.</p>
            <button type="submit">BUY NOW</button>
        </div>
    </div>
    <div class="big-container">
        <div class="container-04">
            <div class="container-04-top">
                <div class="container-04-title">
                    <h3>Fresh Menu</h3>
                    <p>NEW MENU</p>
                </div>
                <div class="angle">
                    <i style="color:#fff; font-size: 24px;" class="fa-solid fa-angle-left"></i>
                    <i style="color:#fff; font-size: 24px;" class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="container-04-content">
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Product card -->
                <div class="container-list-02">
                    <img src="../assets/image/product-image02.png" alt="">
                    <div class="container-list-02-info">
                        <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                        <p>Sugar free</p>
                        <div class="rating-product">
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                            <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                            <span class="container-list-02-space"></span>
                            <p id="rating-count">(234)</p>
                        </div>
                        <div class="container-list-02-button">
                            <button id="fav-button" type="button"><i class="fa-regular fa-heart"
                                    style="font-size:18px;  color: #055F4D;"></i></button>
                            <button id="add-to-cart-button" type="submit">Add to cart<i
                                    class="fa-regular fa-cart-shopping"
                                    style="font-size:18px;color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-04-top">
                <div class="container-04-title">
                    <h3>By Course</h3>
                    <p>FOOD MENU</p>
                </div>
            </div>
            <div class="container-categories">
                <button type="submit">Appetizers</button>
                <button type="submit">Breakfast</button>
                <button type="submit">Lunch</button>
                <button type="submit">Dinner</button>
                <button type="submit">Desserts</button>
                <button type="submit">Sides</button>
            </div>
            <div class="container-04-content-02">
                <img src="../assets/image/container-04-02.jpg" alt="">
                <div class="container-04-content-02-section">
                    <div class="container-04-content-02-section-top">
                        <div class="container-04-content-02-title">
                            <h3>Dessert</h3>
                            <p>Indulge in the sweetness of life without compromising your health</p>
                        </div>
                        <div class="container-04-nav-button">
                            <button onclick="prevSlide()"><i style="color:#fff; font-size: 24px;"
                                    class="fa-solid fa-angle-left"></i></button>
                            <button onclick="nextSlide()"><i style="color:#fff; font-size: 24px;"
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-04-content-03">
                <div id="content">
                    <h4>Taste</h4>
                    <p>NEW RECIPES</p>
                </div>
            </div>
            <div class="container-04-content-04">
                <div class="container-04-content-04-top">
                    <div class="container-04-content-04-title">
                        <h3>Our Clients</h3>
                        <p>TESTIMONIALS</p>
                    </div>
                </div>
                <div class="container-04-04-image">
                    <img style="height: 450px; width: 1176px;" src="../assets/image/container-04-content-04.png" alt="">
                </div>
            </div>
            <div class="container-04-content-05">
                <h3>Follow</h3>
                <p>@FOODYLAND</p>
                <div class="carousel-wrap">
                    <i id="backbtn" class="fa-solid fa-angle-left"></i>
                    <div class="carousel-inner">
                        <div>
                            <img src="../assets/image/image-slider-01.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-02.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-03.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-04.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-05.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-06.jpg" alt="Image 1">
                        </div>
                        <div>
                            <img src="../assets/image/image-slider-01.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-02.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-03.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-04.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-05.jpg" alt="Image 1">
                            <img src="../assets/image/image-slider-06.jpg" alt="Image 1">
                        </div>
                    </div>
                    <i id="nextbtn" class="fa-solid fa-angle-right"></i>
                    <!-- Add more cards as needed -->
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="footer-top-section">
            <div class="footer-left-section">
                <h2>Let's talk</h2>
                <p>Want to order healthy meal?</p>
            </div>
            <button type="submit">ORDER NOW</button>
        </div>
        <div class="footer-second-section">
            <p>Ensure that customers have a clear understanding of their healthy meal options and feel valued throughout the ordering process.</p>
            <p>To show them their amazing skills and experiences in healthy life</p>
        </div>
        <div class="space"></div>
        <div class="footer_content">
            <div class="footer_section">
                <div id="footer_logo"><a href="#"><img src="../assets/image/footer-logo.png"
                            alt="Naber"></a></div>
                <p>Copyright © 2023 Foody Land.</p>
                <p>Powered by Company S.L.</p>
                <p>All rights reserved.</p>
            </div>
            <div class="footer_section">
                <h2>Order now</h2>
                <ul>
                    <li><a href="#">Protein Plus</a></li>
                    <li><a href="#">Calories Smart</a></li>
                    <li><a href="#">Keto</a></li>
                    <li><a href="#">Vegan + Veggie</a></li>
                    <li><a href="#">Desserts</a></li>
                    <li><a href="#">Shake & Smoothies</a></li>
                    <li><a href="#">Animal - Based Diet</a></li>
                </ul>
            </div>
            <div class="footer_section">
                <h2>Contact us</h2>
                <ul>
                    <li id="footer_contact_title">Call us</li>
                    <li id="footer_contact_list">(011) 1411 - 2003</p>
                    </li>
                    <li id="footer_contact_title">Email us</li>
                    <li id="footer_contact_list">foodylandforeveryone@gmail.com</p>
                    </li>
                    <li id="footer_contact_title">Address</li>
                    <li id="footer_contact_list">East 38th Street, USA</p>
                    </li>
                </ul>
            </div>
            <div class="footer_section">
                <h2>Follow us</h2>
                <a href="#"><i class="fa-brands fa-facebook" style="color:#fff"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color:#fff"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" style="color:#fff"></i></a>
                <a href="#"><i class="fa-brands fa-snapchat" style="color:#fff"></i></a>
            </div>
        </div>
    </div>
    <script src="../script/image-slider.js"></script>
</body>

</html>