<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="../static/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-02670e9412103b5852dcbe140d278c49.css?vsn=d"
    >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css"
      >

      <!-- font -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../script/slider.js"></script>
</head>
<body>

    <div class="header">
        <div class="nav_bar">
        <a href="#"><img id="logo" src="../assets/image/logo.png" alt="Logo"></a>
        <ul>
            <li><a href="../templates/menu.html">Menu</a></li>
            <li><a href="../templates/recipe.html">Recipes</a></li>
            <li><a href="../templates/location.html">Location</a></li>
            <li><a href="../templates/contact.html">Contact</a></li>
            <li><a href="../templates/blog.html">Blog</a></li>
        </ul>
        <div class="sub_nav_bar">
        <ul>
            <li id="icon"><a href=""><i class="fa-regular fa-cart-shopping" style="font-size:18px;"></i></a></li>
            <li id="icon" class="search-bar-container">
                <input id="searchbar" type="text" placeholder="Search">
                <a href="#" class="search-icon"><i id="search-icon" class="fa-regular fa-magnifying-glass" style="margin-bottom:10px;"></i></a>
            </li>
            <li id="icon"><a href=""><i class="fa-regular fa-heart" style="font-size:18px;"></i></a></li>
            <li id="icon"><a href=""><i class="fa-regular fa-user" style="font-size:18px;"></i></a></li>
        </ul>
        </div>
    </div>
    <div class="header-button-container">
        <button id="discover-button" type="submit">Discover now</button>
        <button id="seemore-button" type="submit">Seemore</button>
    </div>
    <img id="header_img" src="../assets/image/header_image.jpg" alt="header_img">
    </div>
    <!-- CONTAINER 01 -->
    <div class="container-01">
        <!-- container list -->
        <div class="container-list">
            <img src="../assets/image/product-image01.jpg" alt="">
            <div class="container-list-info">
                <h3>Salmon Rice Bowl</h3>
                <p>Japanse-inspired</p>
                <p>Protein Plus</p>
                <img id="rating-star" src="../assets/image/rating-star.png" alt="">
            <div class="container-list-button">
                <button id="container-list-discover-button" type="submit">Add to Favourite</button>
                <button id="container-list-cart-button" type="submit"><i class="fa-regular fa-cart-shopping" style="color: #ffffff;"></i></button>
            </div>
            </div>
        </div>
        <div class="container-list">
            <img src="../assets/image/product-image01.jpg" alt="">
            <div class="container-list-info">
                <h3>Salmon Rice Bowl</h3>
                <p>Japanse-inspired</p>
                <p>Protein Plus</p>
                <img id="rating-star" src="../assets/image/rating-star.png" alt="">
            <div class="container-list-button">
                <button id="container-list-discover-button" type="submit">Discover now</button>
                <button id="container-list-cart-button" type="submit"><i class="fa-regular fa-cart-shopping" style="color: #ffffff;"></i></button>
            </div>
            </div>
        </div>
        <div class="container-list">
            <img src="../assets/image/product-image01.jpg" alt="">
            <div class="container-list-info">
                <h3>Salmon Rice Bowl</h3>
                <p>Japanse-inspired</p>
                <p>Protein Plus</p>
                <img id="rating-star" src="../assets/image/rating-star.png" alt="">
            <div class="container-list-button">
                <button id="container-list-discover-button" type="submit">Discover now</button>
                <button id="container-list-cart-button" type="submit"><i class="fa-regular fa-cart-shopping" style="color: #ffffff;"></i></button>
            </div>
            </div>
        </div>
    </div>

    <!-- CONTAINER 02 -->
    <div class="container-02">
        <div class="container-02-top">
        <div class="container-02-title">
            <h2>Hungry now</h2>
            <h3>MENU OF THE DAY</h3>
        </div>
            <button type="submit">View all <span class="space" style="margin-right: 10px;"></span> <i class="fa-regular fa-angle-right"></i></button>
        </div>
        <div class="container-categories">
            <button type="submit">Appetizers</button>
            <button type="submit">Breakfast</button>
            <button type="submit">Lunch</button>
            <button type="submit">Dinner</button>
            <button type="submit">Desserts</button>
            <button type="submit">Sides</button>
        </div>
    </div>
    <div class="container-02-product">
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="container-02-product-02">
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-container">
        <div class="slider">
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 1">
          </div>
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 2">
          </div>
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 3">
          </div>
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 4">
          </div>
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 5">
          </div>
          <div class="slide">
            <img src="../assets/image/slider_image_01.jpg" alt="Slide 6">
          </div>
          <!-- Add more slides as needed -->
        </div>
      
        <div class="dot-container">
          <span class="dot" onclick="showSlide(0)"></span>
          <span class="dot" onclick="showSlide(1)"></span>
          <span class="dot" onclick="showSlide(2)"></span>
          <span class="dot" onclick="showSlide(3)"></span>
          <span class="dot" onclick="showSlide(4)"></span>
          <!-- Add more dots as needed -->
        </div>
    </div>

    <div class="container-02">
        <div class="container-02-top">
        <div class="container-02-title">
            <h2>Must-try</h2>
            <h3>BEST SELLER</h3>
        </div>
            <button type="submit">View all <span class="space" style="margin-right: 10px;"></span> <i class="fa-regular fa-angle-right"></i></button>
        </div>
        <div class="container-categories">
            <button type="submit">Dairy Free</button>
            <button type="submit">Glutan Free</button>
            <button type="submit">Keto</button>
            <button type="submit">Vegan</button>
            <button type="submit">Low Carb</button>
            <button type="submit">Sugar Free</button>
        </div>
    </div>
    <div class="container-02-product">
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="container-02-product-02">
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
        <!-- container-list-02 -->
        <div class="container-list-02">
            <img src="../assets/image/product-image02.png" alt="">
            <div class="container-list-02-info">
                <p id="product-name">Overnight Oats <span class="product-title-space"></span>$11.32</p>
                <p>Sugar free</p>
                <div class="rating-product">
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-solid fa-star" style="color: #FFC107;"></i>
                    <i class="fa-duotone fa-star-half-stroke" style="color: #FFC107;"></i>
                    <span class="container-list-02-space"></span>
                    <p id="rating-count">(234)</p>
                </div>
                <div class="container-list-02-button">
                    <button id="fav-button" type="button"><i class="fa-regular fa-heart" style="font-size:18px;  color: #055F4D;"></i></button>
                    <button id="add-to-cart-button" type="submit">Add to cart<i class="fa-regular fa-cart-shopping" style="font-size:18px;color: #fff;"></i></button>
                </div>
            </div>
        </div>
    </div>

<!-- CONTAINER-03 -->
<div style="margin-left: 92px; margin-bottom: 30px;" class="container-02-title">
    <h2>Special menu for Christmas</h2>
    <h3>CATERING SPECIALS</h3>
</div>
<div class="catering-container">
    <img style="width: 72.500vw; margin: 20px 7.361vw;" src="../assets/image/christmas-ornaments.png" alt="">
    <div class="catering-list">
        <img src="../assets/image/christmas-image-01.jpg" alt="">
        <img src="../assets/image/christmas-image-02.jpg" alt="">
        <img src="../assets/image/christmas-image-03.jpg" alt="">
        <img src="../assets/image/christmas-image-04.jpg" alt="">
        <img src="../assets/image/christmas-image-05.jpg" alt="">
        <img src="../assets/image/christmas-image-06.jpg" alt="">
        <img style="grid-column: span 2;" src="../assets/image/christmas-image-07.jpg" alt="">
        <img src="../assets/image/christmas-image-08.jpg" alt="">
        <img src="../assets/image/christmas-image-09.jpg" alt="">
    </div>
    <img style="width: 72.500vw; margin: 20px 7.361vw;" src="../assets/image/christmas-ornaments.png" alt="">
</div>

<div class="footer">
    <div class="footer-top-section">
        <div class="footer-left-section">
            <h2>Let's talk</h2>
            <p>Want to order healthy meal?</p>
        </div>
        <button type="submit">ORDER NOW</button>
    </div>
    <div class="footer-second-section">
        <p>Ensure that customers have a clear understanding of their healthy meal options and feel valued throughout the ordering process.</p>
        <p>To show them their amazing skills and experiences in healthy life</p>
    </div>
    <div class="space"></div>
    <div class="footer_content">
        <div class="footer_section">
            <div id="footer_logo"><a href="#"><img src="../assets/image/footer-logo.png"
                        alt="Naber"></a></div>
            <p>Copyright © 2023 Foody Land.</p>
            <p>Powered by Company S.L.</p>
            <p>All rights reserved.</p>
        </div>
        <div class="footer_section">
            <h2>Order now</h2>
            <ul>
                <li><a href="#">Protein Plus</a></li>
                <li><a href="#">Calories Smart</a></li>
                <li><a href="#">Keto</a></li>
                <li><a href="#">Vegan + Veggie</a></li>
                <li><a href="#">Desserts</a></li>
                <li><a href="#">Shake & Smoothies</a></li>
                <li><a href="#">Animal - Based Diet</a></li>
            </ul>
        </div>
        <div class="footer_section">
            <h2>Contact us</h2>
            <ul>
                <li id="footer_contact_title">Call us</li>
                <li id="footer_contact_list">(011) 1411 - 2003</p>
                </li>
                <li id="footer_contact_title">Email us</li>
                <li id="footer_contact_list">foodylandforeveryone@gmail.com</p>
                </li>
                <li id="footer_contact_title">Address</li>
                <li id="footer_contact_list">East 38th Street, USA</p>
                </li>
            </ul>
        </div>
        <div class="footer_section">
            <h2>Follow us</h2>
            <a href="#"><i class="fa-brands fa-facebook" style="color:#fff"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="color:#fff"></i></a>
            <a href="#"><i class="fa-brands fa-youtube" style="color:#fff"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat" style="color:#fff"></i></a>
        </div>
    </div>
</div>

</html>